################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/15211TT0065/bin/Debug
/15211TT0065/obj/Debug
